onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=unrs-resolver
